section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);
}

section header a {
    justify-self: end;
    align-items: center;
    gap: 8px;
}

section header a span {
    background-image: url(../assets/icons/ArrowRight.svg);
    width: 16px;
    height: 16px;
}

section header a:hover span {
    background-image: url(../assets/icons/ArrowRight-hover.svg);
}


#featured {
    grid-area: featured;
}

#featured img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#featured .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    min-height: 400px;
}

#featured .card::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
    z-index: 1;
}

#featured .card figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
    width: 100%;
}

#featured .card figcaption:has(.text-lg) {
    padding: 12px;
}

#featured .card figcaption h2 {
    margin-top: 8px;
}


#weekly {
    grid-area: weekly;
}

#weekly > div {
    grid-template-columns: repeat(4, 292px);
}

#weekly img {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

#weekly figure {
    position: relative;
}

#weekly figure .content-tag {
    position: absolute;
    top: 8px;
    left: 8px;
}

#weekly figure p {
    margin-top: 8px;
    font-weight: 800;
}


#ai {
    grid-area: ai;
}

#ai img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#ai h3 {
    margin-block: 8px 4px;
}


aside {
    grid-area: aside;
}

#more {
    margin-top: 32px;
}

#more h3 {
    margin-top: 8px;
}

#more img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
}


/* Responsividade */

@media (max-width: 1024px) {
    #weekly > div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "featured"
            "weekly"
            "ai"
            "aside";
    }

    #featured {
        grid-auto-flow: row !important;
    }

    #featured .grid-cols-2  {
        grid-template-columns: 1fr;
    }

    #weekly > div {
        grid-template-columns: repeat(2, 1fr);
        overflow-x: unset;
    }

    #ai article {
        grid-auto-flow: row;
    }

    #ai img {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media (max-width: 480px) {
    #weekly > div {
        grid-template-columns: 1fr;
    }

    #featured .card figcaption {
        padding: 16px;
    }
}
